%h1 All Articles
%ul#articles
  - @articles.each do |article|
    %li
      = link_to article.title, article_path(article)
      = article.body
      = article.author.username
      = article.created_at
- if logged_in?
  = link_to "Create a New Article", new_article_path, class: 'new_article'
