%section#articles.col-md-8
  %ul#articles
    - @articles.each do |article|
      %li
        - if article.image?
          = link_to image_tag(article.image, :border => 0), article_path(article) 
        %h2
          = link_to article.title, article_path(article)
        %article
          = truncate(article.body.html_safe, length: 350, omission: '...')
        %section
          %p 
            Posted by
            = article.author.username
            Posted on:
            = article.created_at.strftime("%d %b %y")
        - if logged_in?
          %span
            = article.published ? "Published" : "Private"
            = link_to "delete", article_path(article), method: :delete
            = link_to "edit", edit_article_path(article)
  - if logged_in?
    = link_to "Create a New Article", new_article_path, class: 'new_article'