!!! 5
%html
  %head
    %title= "CodeUrge | #{action_name.capitalize} - Full-Stack Web Developer Derek Keith"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    %meta{:name => 'description', :content => 'CodeUrge - Home of Colorado-based Full-Stack Developer Derek Keith. Crafting successful websites with PHP and Ruby on Rails is my passion, code is my art.'}
    %meta{"http-equiv" => 'content-type', :content => 'text/html;charset=UTF-8'}
    %meta{:name => 'keywords', :content => 'codeurge, derek keith, colorado full-stack developer, colorado rails developer, colorado php developer, denver rails developer, denver php developer, ruby on rails development, wordpress development, wordpress, ruby, php, rails'}
    #fb-root
    %script{:type => 'text/javascript'}
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  %body{ :class => "#{controller_name} #{(action_name =~ /.*index.*/) ? 'index' : action_name}", :"data-spy" => "scroll", :"data-target" => "#nav" }
