%nav
  %aside#auth
    - if logged_in?
      = "Logged in as #{current_user.email}"
      = link_to "Logout", logout_path
    - else
      = link_to "Login", login_path
  %aside#logo
    %a{:href => '/', :title => 'CodeUrge'} CodeUrge
    %p.console
      %span#preprompt %
      %span#prompt
      %span#prompt-cursor 
        |
      %span#caption
  %ul
    %li
      = link_to 'Blog', blog_path, class: active_class?(blog_path)
