!!! 5
%html
  %head
    %title= "CodeUrge | " + "#{action_name.capitalize}"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body{ :class => "#{controller_name} #{(action_name =~ /.*index.*/) ? 'index' : action_name}", :"data-spy" => "scroll", :"data-target" => "#nav" }
    #wave
    %header.jumbotron
      = render partial: "navigation"
      %section#hero.container
        - case "#{controller_name} #{(action_name =~ /.*index.*/) ? 'index' : action_name}"
          - when 'pages home'
            %h1.text-center Full-Stack
            %p.subtext.text-center.col-xs-12.col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
              My experience in diverse areas of the industry have equipped me with a well-rounded skillset that enables me to assist with multiple aspects of a project. Creating and collaborating start-ups is a passion, my code is an always improving art, with enough system administration skills to be dangerous. 
          - when 'articles index'
            %h1.text-center Blog
          - when 'articles show'
            %h1= @article.title
          - else
    %p.flash
      = flash.notice
    %main
      = yield
    %section#contact
      .container
        %h1.section-title Contact
        %h2.text-center For Hire?
        %p.col-md-8.col-md-offset-2
          I am currently seeking employment with an agile Rails development team. I acknowledge that my strengths lie in PHP and Wordpress; However, Rails and the Ruby language have renewed my passion for development. I am flexible with my skills, eager to learn, and always open to hear about a potential gig or job offer!
        .clearfix
        %h3#links-header.text-center
          Interested? Drop me a line!
        %ul#links
          %li.linkedin.col-xs-6.col-sm-6.col-md-4.col-md-offset-1
            %a{:href => 'http://linkedin.com/in/derekkeith', :target => '_blank'} in/derekkeith
          %li.email.col-xs-6.col-sm-6.col-md-4.col-md-offset-2
            %a.text-right{:href => 'mailto:hello@codeurge.com'} hello@codeurge.com
          %li.skype.col-xs-6.col-sm-6.col-md-4.col-md-offset-1
            %a{:href => 'skype:CodeUrge?chat'} CodeUrge
          %li.twitter.col-xs-6.col-sm-6.col-md-4.col-md-offset-2
            %a.text-right{:href => 'http://twitter.com/codeurge', :target => '_blank'} CodeUrge
          %li.gplus.col-xs-6.col-sm-6.col-md-4.col-md-offset-1
            %a{:href => 'https://plus.google.com/u/0/b/110588382351412346911/110588382351412346911/posts', :target => '_blank'} CodeUrge
          %li.dribbble.col-xs-6.col-sm-6.col-md-4.col-md-offset-2
            %a.text-right{:href => 'http://dribbble.com/codeurge', :target => '_blank'} CodeUrge
        %div.col-md-4.col-md-offset-4.timer-wrapper
          %p
            Since you arrived at this page
            %span.timer
            %br/
            Voyager 1 has traveled
            %span.mileage
            miles at a rate of 3.6AU/year or 38,200 mph.
    %section#footer
      .container
        %section.col-md-3.col-md-offset-1
          %p 
            %a{:href => 'http://unlicense.org', :target => "_blank"} Unlicense
        %section.col-md-3.col-md-offset-4 
          %a#gototop{:href => '#top'}
          #socialize
    %script#oceanSurfaceVert{:type => "x-shader/x-vertex"}
      varying vec3 v_objCoor;
      void main() {
      v_objCoor = position;
      gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
      }
    %script#oceanSurfaceFrag{:type => "x-shader/x-fragment"}
      uniform vec3 u_color;
      varying vec3 v_objCoor;

      float remap (float value, float initStart, float initEnd, float finalStart, float finalEnd)
      {
      float mapped = (( (value - initStart) *(finalEnd - finalStart) ) / (initEnd- initStart)) + finalStart;
      return mapped;
      }

      void main() {
      vec3 cameraPos = vec3(-338.0, -48.0, 2000.0);
      float border = -100.0;

      float alpha = remap(v_objCoor.y+border, 0.0, cameraPos.z*3.0, 0.0, 1.0);
      float red = remap(v_objCoor.z, -500.0, 500.0, 0.8, 1.0);
      float green = remap(v_objCoor.z, -500.0, 500.0, 0.8, 1.0);
      
      gl_FragColor=vec4(red, green,248.0/256.0, alpha);
        
        
      }
