!!! 5
%html
  %head
    %title= "Codeurge | " + "#{action_name.capitalize}"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ :class => "#{controller_name} #{(action_name =~ /.*index.*/) ? 'index' : action_name}" }
    %canvas{ :class => "#{controller_name} #{(action_name =~ /.*index.*/) ? 'index' : action_name}" }
    %header.container-fluid
      = render partial: "navigation"
      %section#hero
        - case "#{controller_name} #{(action_name =~ /.*index.*/) ? 'index' : action_name}"
          - when 'pages home'
            %h1 Full-Stack
            %p.subtext
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque arcu ante, a volutpat turpis ornare eget. Pellentesque sem nunc, rutrum et nisl non, interdum accumsan neque. Etiam scelerisque nisl vel rutrum fermentum. Vestibulum aliquam dolor in est ultrices interdum. Maecenas ut gravida enim. 
          - when 'articles index'
            %h1 Blog
          - when 'pages about'
            %h1 About Me
          - when 'pages services'
            %h1 Services
          - when 'pages contact'
            %h1 Contact
          - when 'articles show'
            %h1= @article.title
          - else
            %h1 Default.
    %p.flash
      = flash.notice
    %main
      = yield
    %section#contact
      #contact.container
        %h1.section-title Contact
        %ul
          %li.linkedin.col-md-4.col-md-offset-1
            %a{:href => '#'} http://linkedin.com/in/derekkeith
          %li.email.col-md-4.col-md-offset-2
            %a{:href => 'mailto:derek@codeurge.com'} derek@codeurge.com
          %li.skype.col-md-4.col-md-offset-1
            %a{:href => '#'} Codeurge
          %li.twitter.col-md-4.col-md-offset-2
            %a{:href => '#'} http://twitter.com/codeurge
          %li.gplus.col-md-4.col-md-offset-1
            %a{:href => '#'} http://google.com/plus/codeurge
          %li.dribbble.col-md-4.col-md-offset-2
            %a{:href => '#'} codeurge
        %p.col-md-4.col-md-offset-4 ... pretty much, google 'codeurge', in that color.
    %section#footer
      %section#footer.container
        %section.col-md-3.col-md-offset-1
          %aside#footer-logo
          %p 
            %a{:href => 'http://unlicense.org'} Uncopyright 
            2014 CodeUrge, LLC.
          %p
            %ul
              %li
                %a{:href => '#'} Privacy Policy
              %li
                %a{:href => '#'} Terms of Use
              %li
                %a{:href => '#'} Credits
        %section.col-md-3.col-md-offset-4 
          %a{:href => '#', :class => 'backtotop'} Back to top
          #socialize
